<?php

//
// Общие настройки сайта
//

// Кодовая страница сайта
define('CODEPAGE', 'utf-8');
// Локальные настройки сайта
define('LOCALE', 'ru_RU');
define('LOCALE_ALT', 'rus_RUS');
// Кол-во результатов поиска на странице
define('SEARCH_RESULTS_ON_PAGE', 5);
// Максимальное время жизни сессии при простое
define('SESSION_MAX_IDLE', 1440);
// Домен сайта
define('SITE_DOMAIN', 'geo');

// Размещение сайта в поддиректории корневой директории веб-сервера
define('WWW', '');
//define('WWW', '/subdir');


//
// Настройки подключения к БД
//
// - если в имени хоста добавить в начале "p:", то будут использоваться постоянные подключения
// - если для разных таблиц указаны одинаковые параметры подключения (бинарно точно или использование макроса %common%),
//   будет использоваться одно подключение
//

// Общие настройки, подставляются при использовании макроса %common%
define('DB', 'host=localhost port=3306 user=user password=password dbname=geo codepage=utf8');


//
// Прочие настройки
//

// Определение корневой директории сайта
define('ROOT', $_SERVER['DOCUMENT_ROOT'] . WWW);

// Настройка вспомогательных директорий
define('APP', ROOT . '/app');
define('LOG', ROOT . '/log');


?>
